h1{
    font-size: 30px;
}
*{
    margin: 0;
    padding: 0;
}

div.table_mult{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.table_mult > div{
    width: 150px;
    

}

div.table_mult > div:last-child{
    border-right: none;
}